.cart-container {

    .empty-cart{
        margin: 2em 1em;
        width: 100%;
    }
    .cart-item-container {

        width: 100%;
        display: inline-block;
        height: 12em;

        img{
            scale: 0.5;
            border: 1px solid gray;
            border-radius: 1em;
            float: left;
            position: relative;
            top: -4em;
        }
        .cart-description {
            float: left;
            width: 50em;
            height: 10em;
            padding: 1em;
        }
        .item-title{
            float: left;
            clear: both;
            padding: 0 0 0.5em 0;
        }
        .item-count{
            float: left;
            clear: both;
        }
        .discount-label{
            float: left;
            clear: both;
            color: deeppink;
            margin: 0.5em 0;
        }
        input {
            display: inline-block;
            clear: both;
            width: 3em;
            text-align: right;

            user-select: all;
            -moz-user-select: all;
            -webkit-user-select: all;
        }
        .remove-button{

            float: left;
            position: relative;
            clear: both;
            margin: 1em 0;
            width: 10em;
            border-radius: 0.5em;
            height: 2em;
            cursor: pointer;
            
        }
        .remove-button:hover {
            background-color: lightskyblue;
        }
        .remove-button:active {
            transform: translateY(0.2em);
        }
    }
    .checkout-container{
        border: 0.5px solid lightgray;
        border-radius: 1em;
        width: 10em;
        position: fixed;
        right: 0;
        top: 5em;
        margin-right: 5em;
        padding: 1em;
        text-align: center;
    }
}