<div class="cart-container">

    <div class="empty-cart" *ngIf="cartList.length === 0">
        Cart is empty.
    </div>
    <ng-container *ngFor="let item of cartList;">
        <div class="cart-item-container">
            <img [src]="item.product.thumbnail" />
            <div class="cart-description">
                <div class="item-title">{{item.product.title}}</div>
                <div class="item-count">Qty: 
                    <input type="number" min="0" max="100" [(ngModel)]="item.count" (change)="onInputChange(item, $event)" />
                </div>
                <div class="discount-label">Discounted at {{item.product.discountPercentage}}%</div>
                <div class="item-title">Price: {{item.price}}</div>
                <button class="remove-button" (click)="removeItem(item.product)">Remove from Cart</button>
            </div>
            
        </div>
        <div class="checkout-container">
            <div>Total Price: {{totalCartPrice()}}</div>
        </div>
        
    </ng-container>
</div>
